# ===============================
# ARCHIVOS DE INTELLIJ IDEA
# ===============================
.idea/
*.iml

# ===============================
# MAVEN
# ===============================
target/

# ===============================
# ARCHIVOS DE SISTEMA
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VARIABLES DE ENTORNO / CONFIGS LOCALES
# ===============================
.env

# ===============================
# LOGS
# ===============================
*.log

# ===============================
# ARCHIVOS TEMPORALES
# ===============================
*.tmp
*.swp
