# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
out/

# ========================
# Maven
# ========================
target/
!.mvn/wrapper/maven-wrapper.jar

# ========================
# Logs
# ========================
*.log

# ========================
# Environment / Secrets
# ========================
.env
*.env
application.properties
application.yml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
